*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(26, 49, 124);
}


nav{
    background-color: rgb(36, 68, 170);
    margin-bottom: 25px;
}

.flex-nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 120px;
}

.flex-nav h1{
    color: white;
    font-size: 3.0em;
    margin-bottom: 10px;

}

div{
    user-drag: none; 
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.flex-nav a{
    display: inline-block;
    text-decoration: none;
    color: rgb(36, 68, 170);
    background-color: white;
    padding: 10px 25px;
    width: 100px;
    text-align: center;
    margin: 3px;
}


.flex-nav a:hover{
    background-color: rgb(26, 49, 124);
    color: white;
}


/* BUTTONS */
.buttons{
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
    gap: 5px;
}

button{
    padding: 10px 25px;    
}


.grid-container{
    position: relative;
    max-width: 570px;
    height: 580px;
    background-image: url(./img/stickyNote.png);
    background-color:rgb(240, 215, 102);
    background-repeat: no-repeat;
    background-size: auto;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(16, minmax(10px, 1fr));
    grid-template-rows: repeat(16 ,minmax(10px, 1fr));
    border-radius: 3px;
    box-shadow: 1px 0px 15px 2px rgba(0, 0, 0, 0.527);

}

.top{
    position: absolute;
    background-color: rgb(255, 245, 152);
    left: 0px;
    top: 0px;
    width: 100%;
    border-radius: 3px;
    height: 73px;
    z-index: 5;
    box-shadow: 1px 0px 15px 2px rgba(0, 0, 0, 0.185);
}

.item{
    background-color: rgba(0, 0, 0, 0.534);

}




.color-buttons{
    display:flex;
    margin-top: 20px;
    flex-direction: row;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

.color-buttons button{
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

.color-buttons button:nth-child(1){
    background-color: black;
}
.color-buttons button:nth-child(2){
    background-color: red;
}
.color-buttons button:nth-child(3){
    background-color: blue;
}
.color-buttons button:nth-child(4){
    background-color:green;
}

.eraser{
    margin-top: 25px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.eraser button{
    padding: 10px 95px; 
    background-color: pink;
    border-radius: 10px;
}




@media(max-width: 600px){

    .flex-nav{
        height: 250px;
    }
    .flex-nav h1 {
        text-align: center;
        width: 200px;
    }
}

